“<?xml version='1.0' encoding='utf-8'?>
<widget id="ch.atmoslab.coffee" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <preference name="loglevel" value="ERROR" />
    <feature name="App">
        <param name="android-package" value="org.apache.cordova.App" />
    </feature>
    <name>Coffee</name>
    <description>
        The app of the project Home smart home. Control the prototype with it!
    </description>
    <author email="jannis.portmann@atmoslab.ch" href="http://atmoslab.ch">
        Jannis Portmann
    </author>
    <content src="index.html" />
    <access origin="*" />
    <platform name="android">
    	<icon src="platforms/android/res/drawable/ldpi.png" density="ldpi" />
    	<icon src="platforms/android/res/drawable/hdpi.png" density="hdpi" />
    	<icon src="platforms/android/res/drawable/mdpi.png" density="mdpi" />
    	<icon src="platforms/android/res/drawable/xhdpi.png" density="xhdpi" />
    </platform>
</widget>
